<?php
/**
 * Configuration du module DzProject
 *
 * Si vous avez un dossier ./config/autoload/ dans votre projet, vous pouvez
 * y mettre ce fichier de configuration et changer les valeurs selon vos besoins.
 */
$settings = array(
    /**
     * Nom de la classe d'entité projet
     *
     * Nom de la classe d'entité à utiliser. Utile si vous voulez utiliser votre
     * propre classe d'entité au lieu de la classe par défaut.
     * La classe par défaut est DzProject\Entity\Project.
     * La classe d'entité doit implémenter DzProject\Entity\ProjectInterface
     */
    'project_entity_class' => 'DzProject\Entity\Project',

    /**
     * Définit le template de vue pour le widget d'affichage de plusieurs projets
     *
     * Valeur par défaut: 'dz-project/project/showallWidget.phtml'
     * Valeurs acceptées: (chaine de caractère) chemin vers un script de vue
     */
    'project_showall_widget_view_template' => 'dz-project/project/showallWidget.phtml',

    /**
     * Définit le template de vue pour le widget d'affichage du formulaire d'ajout de projet
     *
     * Valeur par défaut: 'dz-project/project/addWidget.phtml'
     * Valeurs acceptées: (chaine de caractère) chemin vers un script de vue
     */
    'project_showall_widget_view_template' => 'dz-project/project/addWidget.phtml',

    /**
     * Utiliser le paramètre redirect s'il est présent
     *
     * Après un ajout avec succès, vérifie s'il y a un paramètre
     * redirect de type GET out POST
     *
     * Valeurs acceptées: booléen true ou false
     */
    'use_redirect_parameter_if_present' => true,
);

/**
 * Ne pas modifier
 */
return array(
    'dzproject' => $settings,
);